# SPDX-License-Identifier: GPL-3.0-only
#
# Based on niri, copyright Ivan Molodetskikh and the niri contributors,
# distributed under the GNU General Public License version 3 or later.
# Modified for synoik in 2026.

type           = internal
restart        = false
depends-on:    synoik
waits-for.d:   $XDG_CONFIG_HOME/dinit.d/synoik.d/
waits-for.d:   $HOME/.config/dinit.d/synoik.d/
waits-for.d:   /etc/dinit.d/user/synoik.d/
